
.bg-image{
  background-image: url(../images/Background.avif);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  
  
}

body{
  background-color: black;
}
h2{
  color: blue;
  font-family: 'Poppins', sans serif;
  background: transparent;
}

.thumbnail{
  height:200px;
  width: auto;
  background-color: black;
}





