
.bg-image{
  background-image: url(../images/Background.avif);
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container-fluid{
  background: transparent;
  
}

h2{
  color: white;
  font-family: 'Poppins', sans serif;
  background: transparent;
}

.thumbnail{
  height:200px;
  width: auto;
}

.navbar-nav:hover{
color: blue;
}

.homecopy {
  position:relative;
  top: 70%;
}

.colortext {
  color: #A45734;
}